# Auto detect text files and perform LF normalization
* text=auto
*.ogg filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
# Android compiled assets (large binaries)
AndroidProject/app/src/main/assets/Resources/**/*.ktx filter=lfs diff=lfs merge=lfs -text
AndroidProject/app/src/main/assets/Resources/**/*.mesh filter=lfs diff=lfs merge=lfs -text
AndroidProject/app/src/main/assets/Resources/**/*.font filter=lfs diff=lfs merge=lfs -text
AndroidProject/app/src/main/assets/Resources/**/*.shader filter=lfs diff=lfs merge=lfs -text
