name: Build GAM300 Engine

on:
  push:
    branches: [ main, cmake-port-m3 ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2022

    strategy:
      fail-fast: false
      matrix:
        preset: [debug, release, editor-debug, editor-release]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup vcpkg
      run: |
        git clone https://github.com/Microsoft/vcpkg.git
        cd vcpkg
        git checkout 2d6a6cf3ac9a7cc93942c3d289a2f9c661a6f4a7
        .\bootstrap-vcpkg.bat -disableMetrics

    - name: Configure CMake
      run: cmake --preset ${{ matrix.preset }}
      working-directory: Project

    - name: Build
      run: cmake --build --preset ${{ matrix.preset }}
      working-directory: Project

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Build-${{ matrix.preset }}
        path: Project/Build/${{ matrix.preset }}/*.exe
        retention-days: 7
